@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Poppins&display=swap");

* {
  font-family: "Comfortaa", cursive;
}

.form-control {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
